<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-3 col-sm-12">
      <p class="aboutme">About Me</p>
    </div>
    <div class="col-lg-8 col-sm-6 desc">
      <p class="desc"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero cupiditate maiores
        repellendus libero necessitatibus, qui, deleniti harum sunt molestias impedit quasi recusandae odio repudiandae
        dignissimos temporibus, quas ducimus eum debitis Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero
        cupiditate maiores
        repellendus libero necessitatibus, qui, deleniti harum sunt molestias impedit quasi recusandae odio repudiandae
        dignissimos temporibus, quas ducimus eum debitis</p>
      <button class="btn btn-outline-dark">Download Resume</button>
    </div>
  </div>
</div>