div.container {
  margin: 50px 0 0;
  padding: 50px 20px;
}
h2 {
  margin: 15px 0;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
div.link {
  margin: 10px 0;
}
a:hover {
  font-size: 20px;
}
button {
  display: block;
  margin: 0 auto;
  color: white;
  width: 200px;
  padding: 10px 25px;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
