.container-fluid {
  background-image: url("../../../../public/images/Character.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
}

h1 {
  color: white;
  margin-top: 200px;
  font-size: 70px;
  font-weight: 400;
  text-align: center;
}

.row p {
  color: #ffffffa3;
  font-size: 50px;
  text-align: center;
  margin-top: -10px;
}
button {
  display: block;
  margin: 0 auto;
  color: white;
  width: 200px;
  padding: 10px 25px;
  font-size: 17px;
}

