div.item {
  background-color: rgba(0, 0, 0, 0.391);
  border-radius: 10px;
  padding: 5px 25px;
}
h2.title {
  margin-top: 10px;
}
#progress {
  display: block;
  background-color: #4e6671;
  margin: 10px 0;
  padding: 5px 2px;
  border-radius: 10px;
  text-align: center;
  color: #cee6f1;
}


