<section style="padding: 5em" class="skills text-white">
  <h1 style="font-size: 5rem">Skills</h1>

  <p class="m-5">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit animi nulla
    earum distinctio, eos quaerat quod laboriosam dolores vitae maxime fuga
    reiciendis tenetur at laudantium tempore? Reiciendis blanditiis officia
    repudiandae Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit animi nulla
    earum distinctio, eos quaerat quod laboriosam dolores vitae maxime fuga
    reiciendis tenetur at laudantium tempore? Reiciendis blanditiis officia
    repudiandae.
  </p>
  <div class="row">
    <div class="col-lg-6 col-sm-12" *ngFor="let item of items">
      <app-skills-card [data]="item"></app-skills-card>
    </div>
  </div>

</section>